.menu-btn {
    position: fixed;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
    @include transition-ease;
    &__sun {
        position: absolute;
        right: 0rem;
        top: 0.4rem;
        width: 1.4rem;
        height: 0.2rem;
        background: clr(wit);
        @include transition-ease;
        &::before {
            content: "";
            position: absolute;
            top: -0.5rem;
            width: 1.4rem;
            height: 0.2rem;
            background: clr(wit);
            @include transition-ease;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0.5rem;
            width: 1.4rem;
            height: 0.2rem;
            background: clr(wit);
            @include transition-ease;
        }
        &.open {
            transform: rotate(720deg);
            background: transparent;
            &::before {
                transform: rotate(45deg) translate(5px, 8px);
            }
            &::after {
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }
    }
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    visibility: hidden;
    &.open {
        visibility: visible;
    }
    .menu-nav {
        background-color: rgba(black, 0.8);
        width: 80%;
        max-width: 500px;
        margin-left: auto;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 450px;
        list-style-type: none;
        transform: translateX(100%);
        @include transition-ease;
        &.open {
            transform: translateX(0%);
        }
        &__item {
            transform: translateY(100%);
            @include transition-ease;
            &.open {
                transform: translateY(0);
            }
            &.active>a {
                color: clr("sec");
            }
        }
        &__link {
            font-size: 1.4rem;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 300;
            margin: 5rem auto;
            padding: 1rem 0rem;
            color: gold;
            line-height: 3;
            @include transition-ease;
            &:hover {
                color: clr("pri");
            }
        }
    }
}

@for $i from 1 through 4 {
    .menu-nav__item:nth-child(#{$i}) {
        transition-delay: ($i * 0.1s);
    }
}